.pull-left {
   margin-left: 0 !important;
}

.header {
   height: var(--header-height);
   background-image: linear-gradient(0, #ff6634, #f53d2d);
}

.header__navbar {
   display: flex;
   justify-content: space-between;
   height: var(--header__navbar-height);
   align-items: center;
}

.header__navbar-list {
   list-style: none;
   padding-left: 0;
   margin: 0;
}

.header__navbar-item {
   margin: 0 8px;
   position: relative;
}

.header__navbar-item,
.header__navbar-link {
   display: inline-block;
   font-size: 1.4rem;
   color: var(--white-color);
   text-decoration: none;
   font-weight: 300;
   cursor: pointer;
}

.header__navbar-item:hover,
.header__navbar-link:hover,
.header__navbar-link:hover .header__navbar-icon {
   color: rgba(225, 225, 225, 0.7);
}

.header__navbar-download {
   position: absolute;
   left: 0;
   top: calc(100% + 8px);
   background-color: var(--white-color);
   border-radius: 3px;
   width: 200px;
   line-height: normal;
   z-index: 999;
   display: none;
}

.header__navbar-item--qr:hover .header__navbar-download {
   display: block;
}

.header__navbar-item--noti:hover .header__navbar-noti {
   display: block;
}
.header__navbar-qr {
   border-radius: 3px;
}

.header__navbar-qr-app {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}

.header__navbar-qr-app--link {
   margin-bottom: 0;
   line-height: 24px;
}
.header__navbar-qr-app--link img {
   height: 17px;
}
.header__navbar-qr-app--link:nth-child(1),
.header__navbar-qr-app--link:nth-child(3) {
   margin-left: 14px;
}
.header__navbar-qr-app--link:nth-child(2) {
   margin-right: 14px;
}

.header__navbar-icon-link {
   display: inline-flex;
   align-items: center;
   text-decoration: none;
}

.header__navbar-icon {
   margin: 0 4px;
}

.header__navbar-item--separate::after {
   border-left: 1px solid #fb9086;
   content: '';
   display: block;
   height: 16px;
   right: -9px;
   transform: translateY(-100%);
   position: absolute;
}

.header__navbar-item--bold {
   font-weight: 500;
}

.header__navbar-icon {
   color: var(--white-color);
}

.header__navbar-item--no-pointer {
   cursor: text;
}

.header__navbar-item--no-pointer:hover {
   color: var(--white-color);
}

.header__navbar-noti {
   position: absolute;
   right: 0;
   top: calc(100% + 14px);
   width: 400px;
   background-color: var(--white-color);
   border-radius: 2px;
   border: 1px solid #dfdfdf;
   display: none;
   transform-origin: 93% top;
   animation: notiZoomIn 0.25s ease-in;
}

@keyframes notiZoomIn {
   from {
      transform: scale(0);
      opacity: 0;
   }
   to {
      transform: scale(1);
      opacity: 1;
   }
}

.header__navbar-noti::before {
   content: '';
   border-style: solid;
   border-color: transparent transparent var(--white-color) transparent;
   border-width: 20px 27px;
   position: absolute;
   right: 4px;
   top: -30px;
}

.header__navbar-noti::after {
   content: '';
   width: 100px;
   position: absolute;
   right: 0;
   top: -20px;
   height: 30px;
}

.header__navbar-noti--header p {
   margin: 0 10px;
   font-size: 1.4rem;
   color: #777;
   line-height: 40px;
   user-select: none;
   cursor: default;
}
.header__navbar-noti--body {
   padding: 0;
}

.header__navbar-noti--info {
   display: flex;
   text-decoration: none;
   padding: 8px 10px;
}
.header__navbar-noti-item--img {
   width: 40px;
   padding: 0;
   object-fit: contain;
   object-position: 0 0;
}

.header__navbar-noti-item--text {
   line-height: normal;
   margin: 0 10px 0 5px;
}

.noti-item--title {
   color: #000000cc;
   display: block;
   font-size: 1.4rem;
   margin-bottom: 5px;
}

.noti-item--decs {
   font-size: 1.2rem;
   margin-bottom: 5px;
   color: #0000008a;
}

.header__navbar-noti--footer {
   text-align: center;
}

.header__navbar-noti--footer a {
   color: var(--black-color);
   margin: 0;
   line-height: 40px;
   display: inline-block;
   width: 100%;
   text-decoration: none;
}

.header__navbar-noti--info:hover,
.header__navbar-noti--footer:hover {
   background-color: #f4f4f4;
}

.header__search-with-logo {
   height: var(--search-with-logo);
   display: flex;
   align-items: center;
}

.header__logo--img {
   width: 162px;
   height: 50px;
   margin: 0 40px 0 1px;
   cursor: pointer;
}

.header__search {
   width: 100%;
   height: 42px;
   border-radius: 2px;
   background-color: var(--white-color);
   display: flex;
   align-items: center;
   justify-content: space-between;
   box-shadow: 0 0px 3px #afafaf;
}
.header__cart {
   width: 210px;
   text-align: center;
   font-size: 2.4rem;
   color: var(--white-color);
}

.header__search--input,
.header__search-btn {
   outline: none;
   border: none;
   font-size: 1.6rem;
   background-color: transparent;
   height: 34px;
   width: 100%;
}

.header__search-wrap {
   flex: 1;
   position: relative;
}

.header__search--input {
   color: var(--text-color);
   padding-left: 14px;
}
.header__search-btn {
   color: var(--white-color);
   background-color: #fb6445;
   margin: 4px;
   width: 62px;
   padding: 0;
   border-radius: 2px;
}
.header__search-btn {
}

.header__search-history {
   width: calc(100% - 8px);
   background-color: var(--white-color);
   position: absolute;
   top: calc(100% + 8px);
   left: 0;
   border-radius: 2px;
   box-shadow: 0 0px 8px #b8b8b8;
   display: none;
}

.header__search--input:focus ~ .header__search-history {
   display: block;
}

.header__search-history-heading {
   color: #8b758b;
   display: block;
   height: 44px;
   font-size: 1.6rem;
   line-height: 44px;
   margin-left: 16px;
   user-select: none;
}
.header__search-history-list {
   padding: 0;
   list-style: none;
   margin: 0 16px;
}
.header__search-history-item {
   display: flex;
   height: 44px;
   align-items: center;
}

.header__search-history-item:hover {
   background-color: ;
}

.header__search-history-item a {
   font-size: 1.6rem;
   text-decoration: none;
   color: var(--text-color);
}
