.pull-left {
   margin-left: 0 !important;
}

.header {
   height: 120px;
   background-image: linear-gradient(0, #ff6634, #f53d2d);
}

.header__navbar {
   display: flex;
   justify-content: space-between;
}

.header__navbar-list {
   list-style: none;
   padding-left: 0;
   line-height: 34px;
   margin-top: 0;
}

.header__navbar-item {
   margin: 0 8px;
   position: relative;
}

.header__navbar-item,
.header__navbar-link {
   display: inline-block;
   font-size: 1.4rem;
   color: var(--white-color);
   text-decoration: none;
   font-weight: 300;
   cursor: pointer;
}

.header__navbar-item:hover,
.header__navbar-link:hover,
.header__navbar-link:hover .header__navbar-icon {
   color: rgba(225, 225, 225, 0.7);
}

.header__navbar-download {
   position: absolute;
   left: 0;
   top: 100%;
   background-color: var(--white-color);
   border-radius: 3px;
   width: 200px;
   line-height: normal;
   display: none;
}

.header__navbar-item--qr:hover .header__navbar-download {
   display: block;
}

.header__navbar-item--noti:hover .header__navbar-noti {
   display: block;
}
.header__navbar-qr {
   border-radius: 3px;
}

.header__navbar-qr-app {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}

.header__navbar-qr-app--link {
   margin-bottom: 0;
   line-height: 24px;
}
.header__navbar-qr-app--link img {
   height: 17px;
}
.header__navbar-qr-app--link:nth-child(1),
.header__navbar-qr-app--link:nth-child(3) {
   margin-left: 14px;
}
.header__navbar-qr-app--link:nth-child(2) {
   margin-right: 14px;
}

.header__navbar-icon-link {
   display: inline-flex;
   align-items: center;
   text-decoration: none;
}

.header__navbar-icon {
   margin: 0 4px;
}

.header__navbar-item--separate::after {
   border-left: 1px solid #fb9086;
   content: '';
   display: block;
   height: 16px;
   right: -9px;
   transform: translateY(calc(-100% - 10px));
   position: absolute;
}

.header__navbar-item--bold {
   font-weight: 500;
}

.header__navbar-icon {
   color: var(--white-color);
}

.header__navbar-item--no-pointer {
   cursor: text;
}

.header__navbar-item--no-pointer:hover {
   color: var(--white-color);
}

.header__navbar-noti {
   position: absolute;
   right: 0;
   width: 400px;
   background-color: var(--white-color);
   border-radius: 2px;
   border: 1px solid #dfdfdf;
   display: none;
   animation: fadeIn 0.2s ease-in;
}

.header__navbar-noti--header p {
   margin: 0 10px;
   font-size: 1.4rem;
   color: #777;
   line-height: 40px;
}
.header__navbar-noti--body {
   padding: 0;
}

.header__navbar-noti--info {
   display: flex;
   text-decoration: none;
   padding: 8px 10px;
}
.header__navbar-noti-item--img {
   width: 40px;
   padding: 0;
   object-fit: contain;
   object-position: 0 0;
}

.header__navbar-noti-item--text {
   line-height: normal;
   margin: 0 10px 0 5px;
}

.noti-item--title {
   color: #000000cc;
   display: block;
   font-size: 1.4rem;
   margin-bottom: 5px;
}

.noti-item--decs {
   font-size: 1.2rem;
   margin-bottom: 5px;
   color: #0000008a;
}

.header__navbar-noti--footer {
   text-align: center;
}

.header__navbar-noti--footer a {
   color: var(--black-color);
   margin: 0;
   line-height: 40px;
   text-decoration: none;
}

.header__navbar-noti--info:hover,
.header__navbar-noti--footer:hover {
   background-color: #f4f4f4;
}
