.app {
   overflow: hidden;
}

.pull-left {
   margin-left: 0 !important;
}
/* sort bar */
.header__sort-bar {
   position: fixed;
   top: var(--header-height);
   left: 0;
   right: 0;
   list-style: none;
   padding-left: 0;
   margin: 0;
   height: var(--header__sort-bar-height);
   background-color: var(--white-color);
   border-top: 1px solid #e5e5e5;
   border-bottom: 1px solid #e5e5e5;
   display: none;
}
.header__sort-item {
   flex: 1;
   text-align: center;
   position: relative;
}

.header__sort-item:first-child .header__sort-link::before {
   display: none;
}

.header__sort-link {
   text-decoration: none;
   font-size: 1.4rem;
   color: var(--text-color);
   line-height: var(--header__sort-bar-height);
   display: block;
   -webkit-tap-highlight-color: transparent;
}

.header__sort-link::before {
   content: '';
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   border-left: 1px solid #e5e5e5;
   left: 0;
   height: 60%;
}

.header__sort-item--active .header__sort-link {
   color: var(--primary-color);
}

.header__sort-item--active {
   border-bottom: 3px solid var(--primary-color);
}

/* header */
.header {
   height: var(--header-height);
   background-image: linear-gradient(0, #ff6634, #f53d2d);
}

.header__navbar {
   display: flex;
   justify-content: space-between;
   height: var(--header__navbar-height);
   align-items: center;
}

.header__navbar-list {
   list-style: none;
   padding-left: 0;
   margin: 0;
}

.header__navbar-item {
   margin: 0 8px;
   position: relative;
}

.header__navbar-item,
.header__navbar-link {
   display: inline-block;
   font-size: 1.4rem;
   color: var(--white-color);
   text-decoration: none;
   font-weight: 300;
   cursor: pointer;
}

.header__navbar-item:hover,
.header__navbar-link:hover,
.header__navbar-link:hover .header__navbar-icon {
   color: rgba(225, 225, 225, 0.7);
}

.header__navbar-download {
   position: absolute;
   left: 0;
   top: calc(100% + 8px);
   background-color: var(--white-color);
   border-radius: 3px;
   width: 200px;
   line-height: normal;
   z-index: 3;
   display: none;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header__navbar-download::before {
   content: '';
   height: 20px;
   width: 50%;
   position: absolute;
   top: -10px;
}

.header__navbar-item--qr:hover .header__navbar-download {
   display: block;
}

.header__navbar-item--noti:hover .header__navbar-noti {
   display: block;
   z-index: 3;
}

.header__navbar-qr {
   border-radius: 3px;
}

.header__navbar-qr-app {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}

.header__navbar-qr-app--link {
   margin-bottom: 0;
   line-height: 24px;
}
.header__navbar-qr-app--link img {
   height: 17px;
}
.header__navbar-qr-app--link:nth-child(1),
.header__navbar-qr-app--link:nth-child(3) {
   margin-left: 14px;
}
.header__navbar-qr-app--link:nth-child(2) {
   margin-right: 14px;
}

.header__navbar-icon-link {
   display: inline-flex;
   align-items: center;
   text-decoration: none;
}

.header__navbar-icon {
   margin: 0 4px;
}

.header__navbar-item--separate::after {
   border-left: 1px solid #fb9086;
   content: '';
   display: block;
   height: 16px;
   right: -9px;
   transform: translateY(-100%);
   position: absolute;
}

.header__navbar-item--bold {
   font-weight: 500;
}

.header__navbar-icon {
   color: var(--white-color);
}

.header__navbar-item--no-pointer {
   cursor: default;
}

.header__navbar-item--no-pointer:hover {
   color: var(--white-color);
}

.header__navbar-noti {
   position: absolute;
   right: 0;
   top: calc(100% + 14px);
   width: 400px;
   background-color: var(--white-color);
   border-radius: 2px;
   border: 1px solid #dfdfdf;
   display: none;
   transform-origin: 93% top;
   animation: notiZoomIn 0.25s ease-in;
}

@keyframes notiZoomIn {
   from {
      transform: scale(0);
      opacity: 0;
   }
   to {
      transform: scale(1);
      opacity: 1;
   }
}

.header__navbar-noti::before {
   content: '';
   border-style: solid;
   border-color: transparent transparent var(--white-color) transparent;
   border-width: 20px 27px;
   position: absolute;
   right: 4px;
   top: -30px;
}

.header__navbar-noti::after {
   content: '';
   width: 100px;
   position: absolute;
   right: 0;
   top: -20px;
   height: 30px;
}

.header__navbar-noti--header p {
   margin: 0 10px;
   font-size: 1.4rem;
   color: #777;
   line-height: 40px;
   user-select: none;
   cursor: default;
}
.header__navbar-noti--body {
   padding: 0;
}

.header__navbar-noti--info {
   display: flex;
   text-decoration: none;
   padding: 8px 10px;
}
.header__navbar-noti-item--img {
   width: 40px;
   padding: 0;
   object-fit: contain;
   object-position: 0 0;
}

.header__navbar-noti-item--text {
   line-height: normal;
   margin: 0 10px 0 5px;
}

.noti-item--title {
   color: #000000cc;
   display: block;
   font-size: 1.4rem;
   margin-bottom: 5px;
}

.noti-item--decs {
   font-size: 1.2rem;
   margin-bottom: 5px;
   color: #0000008a;
}

.header__navbar-noti--footer {
   text-align: center;
}

.header__navbar-noti--footer a {
   color: var(--black-color);
   margin: 0;
   line-height: 40px;
   display: inline-block;
   width: 100%;
   text-decoration: none;
}

.header__navbar-noti--info:hover,
.header__navbar-noti--footer:hover {
   background-color: #f4f4f4;
}

.header__search-with-logo {
   height: var(--search-with-logo);
   display: flex;
   align-items: center;
}

.header__category-tablet-mobile-blur {
   position: absolute;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   height: 100vh;
   z-index: 2;
   background-color: rgba(0, 0, 0, 0.4);
   display: none;
}

.header__category-tablet-mobile {
   position: absolute;
   top: 0;
   left: 0;
   bottom: 0;
   right: 40%;
   height: 100vh;
   z-index: 2;
   background-color: var(--white-color);
   box-shadow: 0 0px 3px #afafaf;
   /* transform: translateX(-100%); */
   border-radius: 2px;
   display: none;
}

.header__category-tablet-mobile-close {
   width: 100%;
   display: flex;
   justify-content: flex-end;
}

.header__category-mobile-icon,
.header__category-tablet-icon {
   font-size: 2.4rem;
   color: var(--white-color);
   padding: 0 8px;
   display: none;
}
.header__category-tablet-mobile-close-icon {
   font-size: 2.8rem;
   color: rgba(0, 0, 0, 0.7);
   padding: 8px;
}

.header__category-tablet-mobile-list {
   list-style: none;
   padding: 0;
   margin: 0;
   border-top: 1px solid rgb(226, 226, 226);
}

.header__category-tablet-mobile-item {
   font-size: 1.8rem;
   font-weight: 400;
   line-height: 4rem;
   padding-left: 20px;
}

.header__category-tablet-mobile-item:hover {
   color: var(--primary-color);
}

#header__category-tablet-mobile-checkbox:checked
   ~ .header__category-tablet-mobile,
#header__category-tablet-mobile-checkbox:checked
   ~ .header__category-tablet-mobile-blur {
   display: block;
}

.header__mobile {
   display: none;
}

.header__category-mobile-icon {
   float: left;
}

.header__mobile-search {
   padding: 0 12px;
}

.header__mobile-search-icon {
   font-size: 2.4rem;
   color: var(--white-color);
}

.header__logo {
   -webkit-tap-highlight-color: transparent;
}

.header__logo--img {
   width: 162px;
   height: 50px;
   margin: 0 40px 0 1px;
   cursor: pointer;
}

.header__search {
   width: 100%;
   height: 42px;
   border-radius: 2px;
   background-color: var(--white-color);
   display: flex;
   align-items: center;
   justify-content: space-between;
   box-shadow: 0 0px 3px #afafaf;
}

.header__search--input,
.header__search-btn {
   outline: none;
   border: none;
   font-size: 1.6rem;
   background-color: transparent;
   height: 34px;
   width: 100%;
}

.header__search-wrap {
   flex: 1;
   position: relative;
}

.header__search--input {
   color: var(--text-color);
   padding-left: 14px;
}
.header__search-btn {
   color: var(--white-color);
   background-color: var(--primary-color);
   margin: 4px;
   width: 62px;
   padding: 0;
   border-radius: 2px;
   cursor: pointer;
}

.header__search-history {
   width: calc(100% - 8px);
   background-color: var(--white-color);
   position: absolute;
   top: calc(100% + 8px);
   left: 0;
   border-radius: 2px;
   box-shadow: 0 0px 8px #b8b8b8;
   display: none;
}

.header__search--input:focus ~ .header__search-history {
   display: block;
   z-index: 2;
}

.header__search-history-heading {
   color: #8b758b;
   display: block;
   height: 44px;
   font-size: 1.6rem;
   line-height: 44px;
   margin-left: 16px;
   user-select: none;
}
.header__search-history-list {
   padding: 0;
   list-style: none;
   margin: 0;
}
.header__search-history-item {
   display: flex;
   height: 44px;
   align-items: center;
}

.header__search-history-item:last-child {
   border-bottom-right-radius: 2px;
   border-bottom-left-radius: 2px;
}

.header__search-history-item:hover {
   background-color: #f4f4f4;
}

.header__search-history-item a {
   font-size: 1.6rem;
   text-decoration: none;
   color: var(--text-color);
   margin: 0 16px;
}

/* cart */

.header__cart {
   width: 210px;
   text-align: center;
   font-size: 2.4rem;
   color: var(--white-color);
   position: relative;
}

.header__cart-wrap {
   width: 36px;
   margin: auto;
   cursor: pointer;
   position: relative;
   -webkit-tap-highlight-color: transparent;
}

.header__cart-quantity {
   position: absolute;
   background-color: #fff;
   border-radius: 14px;
   border: 2px solid #ee4d2d;
   width: 25px;
   top: -8px;
   right: -8px;
   cursor: pointer;
   text-align: center;
}

.header__cart-quantity-num {
   font-size: 1.4rem;
   color: #ee4d2d;
   margin: 1px 0 0;
   line-height: 1.5rem;
}

.no-cart-img {
   width: 200px;
   margin-bottom: 20px;
}

.header__cart-noti::before {
   content: '';
   border-style: solid;
   border-color: transparent transparent var(--white-color) transparent;
   border-width: 14px 21px;
   position: absolute;
   right: 1px;
   top: -23px;
}

.header__cart-noti {
   padding: 20px;
   width: 400px;
   background-color: var(--white-color);
   position: absolute;
   right: -5px;
   top: calc(100% + 13px);
   border-radius: 2px;
   box-shadow: 0 0px 8px #b8b8b8;
   display: none;
   cursor: pointer;
}

.header__cart-noti-wrap {
   overflow-y: auto;
   max-height: 50vh;
}

.header__cart-wrap:hover .header__cart-noti {
   display: block;
   z-index: 2;
}

.header__cart-msg {
   font-size: 1.4rem;
   color: var(--text-color);
   margin: 0;
   font-weight: 400;
}

.header__cart-noti-heading {
   font-size: 1.4rem;
   color: var(--text-color);
}

/* body app container */
.app__container {
   background-color: #f5f5f5;
}

.app__container-content {
   padding-top: 36px;
}

.category {
   background-color: var(--white-color);
   border-radius: 2px;
}

.category__heading {
   color: var(--text-color);
   font-size: 1.6rem;
   font-weight: 500;
   padding: 12px 16px;
   margin-bottom: 0;
   border-bottom: 1px solid rgba(0, 0, 0, 0.05);
   margin-top: 0;
}

.category__heading-icon {
   position: relative;
   top: -1px;
   font-size: 1.2rem;
   margin-right: 8px;
}

.category-list {
   list-style: none;
   padding: 0;
   margin-left: 12px;
}

.category-item--active .category-item__link {
   color: var(--primary-color);
}

.category-item--active .category-item__link::before {
   content: '';
   position: absolute;
   top: 50%;
   left: 4px;
   border: 4px solid;
   border-color: transparent transparent transparent var(--primary-color);
   transform: translateY(-50%);
}
.category-item__link {
   text-decoration: none;
   font-size: 1.4rem;
   padding: 8px 16px;
   display: block;
   color: var(--text-color);
   position: relative;
   right: 0;
   transition: right linear 0.1s;
}

.category-item:hover .category-item__link {
   color: var(--primary-color);
   right: -4px;
}

/* mobile category */
.mobile-category {
   display: none;
}
.mobile-category__list {
   display: flex;
   list-style: none;
   padding-left: 0;
   margin: 0;
   max-width: 100%;
   overflow-x: auto;
   text-align: center;
}

.mobile-category__list::-webkit-scrollbar {
   display: none;
}

.mobile-category__item {
   flex-shrink: 0;
   width: 110px;
   max-height: 40px;
   display: flex;
   align-items: center;
   border-radius: 4px;
   margin: 0 4px;
}

.mobile-category__item:nth-of-type(3n + 1) {
   background-color: #87afd8;
}

.mobile-category__item:nth-of-type(3n + 2) {
   background-color: #76c9bd;
}

.mobile-category__item:nth-of-type(3n + 3) {
   background-color: #88cf81;
}

.mobile-category__link {
   text-decoration: none;
   color: var(--white-color);
   font-size: 1.4rem;
   line-height: 1.6rem;
   flex: 1;
   font-weight: 300;
   display: -webkit-box;
   -webkit-line-clamp: 2;
   -webkit-box-orient: vertical;
   overflow: hidden;
   padding: 4px;
   user-select: none;
   -webkit-user-select: none;
   -webkit-tap-highlight-color: transparent;
}

/* filter */
.home-filter {
   display: flex;
   align-items: center;
   background-color: #ededed;
   padding: 12px 16px;
   border-radius: 2px;
}

.home-filter__label {
   font-size: 1.4rem;
   margin-right: 12px;
}

.home-filter__btn {
   margin-right: 8px;
   min-width: 92px;
}

.home-filter__btn:active {
   background: #fdfdfd;
   box-shadow: inset 0 0.0625rem 0 0 rgb(0 0 0 / 3%);
}

.home-filter__page {
   margin-left: auto;
   display: flex;
   align-items: center;
   height: 34px;
}

.home-filter__page-num {
   font-size: 1.4rem;
   font-weight: 300;
}

.home-filter__page-current {
   color: var(--primary-color);
}

.home-filter__page-control {
   margin-left: 20px;
   font-size: 1.4rem;
   display: flex;
}

.home-filter__page-btn {
   width: 36px;
   height: 34px;
   background-color: var(--white-color);
   border-radius: 2px;
   display: flex;
   align-items: center;
   justify-content: center;
   cursor: pointer;
}

.home-filter__page-btn:active {
   background-color: #fdfdfd;
   transform: translateY(1px);
}

.home-filter__page-btn:first-child {
   border-right: 1px solid #f2f2f2;
}

.home-filter__page-btn--disabled {
   background-color: #f9f9f9;
   cursor: default;
}

.home-filter__page-btn--disabled:active {
   transform: translateY(0) !important;
   background-color: #f9f9f9 !important;
}

.home-filter__page-btn--disabled .home-filter__page-icon {
   color: rgba(0, 0, 0, 0.26);
}

/* product */
.home-product {
   margin-bottom: 10px;
}

.home-product-item {
   display: block;
   text-decoration: none;
   position: relative;
   margin-top: 10px;
   background-color: var(--white-color);
   cursor: pointer;
   border-radius: 2px;
   transition: all ease-out 0.1s;
   -webkit-tap-highlight-color: transparent;
}

.home-product-item:hover {
   transform: translateY(-1px);
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.home-product-item__img {
   padding-top: 100%;
   background-size: cover;
   background-position: top center;
}
.home-product-item__name {
   font-size: 1.3rem;
   font-weight: 400;
   color: var(--text-color);
   margin: 8px 10px;
   display: -webkit-box;
   -webkit-line-clamp: 2;
   -webkit-box-orient: vertical;
   overflow: hidden;
   text-transform: capitalize;
}
.home-product-item__price {
   display: flex;
   align-items: baseline;
   flex-wrap: wrap;
   margin: 0 10px;
}
.home-product-item__price--old {
   font-size: 1.3rem;
   color: rgba(0, 0, 0, 0.54);
   text-decoration: line-through;
   margin-right: 6px;
}
.home-product-item__price--current {
   font-size: 1.5rem;
   color: #ee4d2d;
   font-weight: 400;
}
.home-product-item__action {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 5px 10px 0;
}
.home-product-item__like {
   font-size: 1.4rem;
   color: var(--text-color);
}

.home-product-item__like--clicked {
   color: #f53d2f;
   display: none;
}

.home-product-item__liked .home-product-item__like--clicked {
   display: inline-block;
}

.home-product-item__liked .home-product-item__like--none {
   display: none;
}

.home-product-item__rating {
   display: flex;
   align-items: center;
}

.home-product-item__star {
   font-size: 0.8rem;
   margin-right: 2px;
   color: #d5d5d5;
   margin-top: -2px;
}

.home-product-item__star--yellow {
   color: #ffce3d;
}

.home-product-item__sold {
   font-size: 1.2rem;
   margin-left: 5px;
   color: rgba(0, 0, 0, 0.87);
}
.home-product-item__location {
   padding: 5px 10px 10px;
   text-align: right;
   color: rgba(0, 0, 0, 0.65);
   font-size: 1.2rem;
   font-weight: 200;
}
.home-product-item__favourite {
   position: absolute;
   top: 10px;
   left: -4px;
   color: var(--primary-color);
   background-color: currentColor;
   font-size: 1.2rem;
   line-height: normal;
   font-weight: 500;
   padding: 2px 4px;
   border-top-right-radius: 3px;
   border-bottom-right-radius: 3px;
   user-select: none;
}

.home-product-item__favourite::after {
   content: '';
   position: absolute;
   left: 0;
   top: 100%;
   border-top: 3px solid currentColor;
   border-left: 3px solid transparent;
   filter: brightness(80%);
}

.home-product-item__favourite span {
   color: var(--white-color);
}
.home-product-item__favourite i {
   font-size: 0.9rem;
   margin-right: 2px;
   color: var(--white-color);
}
.home-product-item__sale-off {
   position: absolute;
   right: 1px;
   top: 1px;
   background-color: rgba(255, 212, 36, 0.902);
   height: 32px;
   width: 36px;
   text-align: center;
   user-select: none;
}

.home-product-item__sale-off::after {
   content: '';
   position: absolute;
   top: 100%;
   right: 0;
   border-width: 0 18px 4px;
   border-style: solid;
   border-color: transparent rgba(255, 212, 36, 0.902) transparent
      rgba(255, 212, 36, 0.902);
}
.home-product-item__sale-off-percent {
   font-size: 1.2rem;
   color: #ee4d2d;
}
.home-product-item__sale-off-label {
   font-size: 1.2rem;
   color: var(--white-color);
}

/* footer */
.footer--boder-top {
   border-top: 1px solid #e9e9e9;
}

.footer__info {
   background-color: #fbfbfb;
}

.footer__empty {
   height: 124px;
   border-top: 4px solid #ee4d2d;
   background-color: #fff;
}

.footer__desc {
   font-size: 1.2rem;
   color: rgba(0, 0, 0, 0.54);
   margin: 40px 0 20px;
   font-weight: 500;
   text-transform: uppercase;
}
.footer__list {
   list-style: none;
   padding: 0;
   margin-bottom: 20px;
}
.footer__item {
   font-size: 1.2rem;
   margin-bottom: 12px;
   display: flex; /* để giảm chiều ngang thẻ li */
}

.footer__item-social-icon {
   font-size: 1.6rem;
   border-radius: 10px;
   margin-right: 12px;
   color: #4a4a4a;
}

.footer__link {
   color: rgba(0, 0, 0, 0.54);
   text-decoration: none;
   text-transform: capitalize;
}

.footer__link:hover {
   color: var(--primary-color);
}

.footer__download {
   display: flex;
}

.footer__download-app {
   display: flex;
   flex-direction: column;
   justify-content: space-around;
}

.footer__download-qr {
   width: 86px;
   border: 1px solid #ececec;
   margin-right: 16px;
   height: 100%;
}

.footer__download-app-img {
   width: 80px;
}

.footer__list--horizontal {
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   max-width: 190px;
}

.footer__desc--same-column {
   margin-top: 0;
}

.footer__info-more {
   display: flex;
   flex: 1;
   justify-content: space-between;
   align-items: center;
   font-size: 1.4rem;
   height: 100px;
   color: rgba(0, 0, 0, 0.54);
}

.footer__info-country {
   display: flex;
   align-items: center;
}
.footer__info-country-list {
   display: flex;
   padding-left: 0;
   list-style: none;
}

.footer__info-country-item {
   padding: 0 6px;
   border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.footer__info-country-item:last-child {
   border-right: none;
}

.footer__info-country-item-link {
   text-decoration: none;
   color: rgba(0, 0, 0, 0.54);
}

.footer__item-background {
   background-image: url(https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/49b5753902db445292818641f17183b0.png);
   margin-right: 8px;
}

.footer__item-background--visa {
   background-size: 1390.909090909091% 1194.4444444444443%;
   background-position: 73.52112676056338% 5.0761421319796955%;
}

.footer__item-background--mastercard {
   background-size: 1390.909090909091% 741.3793103448276%;
   background-position: 44.50704225352113% 5.376344086021505%;
}

.footer__item-background--jcb {
   background-size: 1390.909090909091% 934.7826086956521%;
   background-position: 37.183098591549296% 30.729166666666668%;
}

.footer__item-background--amex {
   background-size: 1530% 977.2727272727273%;
   background-position: 11.188811188811188% 5.181347150259067%;
}

.footer__item-background--cod {
   background-size: 1530% 741.3793103448276%;
   background-position: 79.3006993006993% 25.806451612903224%;
}

.footer__item-background--installment {
   background-size: 1390.909090909091% 741.3793103448276%;
   background-position: 79.85915492957747% 52.1505376344086%;
}

.footer__item-background--air-pay {
   background-size: 1912.5% 413.46153846153845%;
   background-position: 1.3793103448275863% 6.134969325153374%;
   margin: 0 8px 0 16px;
}

.footer__item-background--shopee-express {
   background-size: 689.1891891891892% 1194.4444444444443%;
   background-position: 59.78593272171254% 5.0761421319796955%;
}

.footer__item-background--ghtk {
   background-size: 1390.909090909091% 1194.4444444444443%;
   background-position: 19.295774647887324% 51.776649746192895%;
}

.footer__item-background--ghn {
   background-size: 1390.909090909091% 741.3793103448276%;
   background-position: 8.732394366197184% 54.83870967741935%;
}

.footer__item-background--viettel-post {
   background-size: 597.65625% 167.96875%;
   background-position: 65.77708006279435% 100%;
}

.footer__item-background--vnpost {
   background-size: 1390.909090909091% 796.2962962962963%;
   background-position: 100% 5.319148936170213%;
}

.footer__item-background--jnt {
   background-size: 1390.909090909091% 1343.75%;
   background-position: 84.08450704225352% 5.025125628140704%;
}

.footer__item-background--grab_express {
   background-size: 570.8955223880597% 741.3793103448276%;
   background-position: 25.673534072900157% 5.376344086021505%;
}

.footer__item-background--now {
   background-size: 956.25% 268.75%;
   background-position: 46.13138686131387% 77.77777777777777%;
   margin: 0 8px;
}

.footer__item-background--ninja-van {
   background-size: 1275% 826.9230769230769%;
   background-position: 48.08510638297872% 31.21693121693122%;
   margin-left: 10px;
}

.footer__item-background--best-express {
   background-size: 1062.5% 716.6666666666666%;
   background-position: 10.1010101010101% 28.10810810810811%;
}
